/* uni.scss - 全局 scss 变量 */
$uni-color-primary: #3a7afe;
$uni-color-success: #00b42a;
$uni-color-warning: #ffb020;
$uni-color-error: #f53f3f;

$uni-text-color: #1a1a1a;
$uni-text-color-grey: #86909c;
$uni-bg-color: #f7f8fa;
$uni-border-color: #e5e6eb;
